<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      خانه
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="http://fans.ffiri.ir/images/banner1.jpg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>شروع کنید</ion-card-subtitle>
      <ion-card-title>به بخش مدیریت کاربری خوش آمدید</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        سایت هواداری تیم های ملی فوتبال ایران
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>قدم اول</ion-label>
    </ion-list-header>
    <ion-item href="/profile">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>ثبت نام و تکمیل فرم کاربری و آپلود عکس</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>قدم دوم</ion-label>
    </ion-list-header>
    <ion-item href="/">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>پیامک تایید تکمیل کل اطلاعات</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>قدم سوم</ion-label>
    </ion-list-header>
    <ion-item href="/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>تایید پرونده و اطلاعات شما و پیامک</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>قدم چهارم</ion-label>
    </ion-list-header>
    <ion-item href="/">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>نهایی</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
